<app-cargando [cargando]="cargando"></app-cargando>

<div class="container">
  <div class="login-container">
    <div class="img-login">
      <img class="icon-header" [src]="logo">
    </div>
    <div class="container-lg">
      <div class="row ingreso-login">
        <h1>Recuperar Contraseña</h1>
        <form class="data-ingreso" [formGroup]="formLogin">
          <mat-form-field class="form-field" color="accent">
            <mat-label>Ingresar mail</mat-label>
            <input matInput type="text" required formControlName="usuario">
            <mat-error *ngIf="formLogin.get('usuario')?.hasError('pattern')">
                El email ingresado no es válido
              </mat-error>
          </mat-form-field>
        </form>
        <mat-card-actions class="data-botones">
          <button mat-flat-button color="accent" [disabled]="formLogin.invalid" (click)="enviarMail()">
            Enviar
          </button>
          <a href="/login">Login</a>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>